@import './../../node_modules/vuetify/dist/vuetify.min.css';
@import './custom_material_icons';

$maxWidth:1600px;

body { background: #eee; }
#main { margin-top:2em; }

.container-fluid { max-width: $maxWidth; }



.addToHomescreenButton { position: fixed; bottom: 0; left: 0; z-index: 100; font-family: sans-serif; font-weight: bold; background: #E1BEE7; padding: 0.7em; color: #6A1B9A; }


.btnMain { color:#fff; font-weight: bold; border-radius: 50%; display: block; outline: none; text-transform: uppercase; transition: background .4s ease;
    @media (orientation: portrait) { height: 50vw; width: 50vw; font-size: 12vw; margin:10vw auto; box-shadow: 2vw 2vw 1vw rgba(0,0,0,0.3), inset -0.5vw -0.5vw 1vw rgba(0,0,0,0.3), inset 0.5vw 0.5vw 1vw rgba(255, 255, 255, 0.5), inset 0 0 10vw rgba(0,0,0,0.4); }
    @media (orientation: landscape) { height: 50vh; width: 50vh; font-size: 12vh; margin:10vh auto; box-shadow: 2vh 2vh 1vh rgba(0,0,0,0.3), inset -0.5vh -0.5vh 1vh rgba(0,0,0,0.3), inset 0.5vh 0.5vh 1vh rgba(255, 255, 255, 0.5), inset 0 0 10vh rgba(0,0,0,0.4); }
}
.btnMain.startButton { background:#0c820c; 
    &:hover,
    &:focus { background:#096b09; }
}
.btnMain.stopButton { background:#b71717; 
    &:hover,
    &:focus { background:#921414; }
}

.clockwatch { display: block; text-align: center; }
.timeOutput {
    .seconds { font-size: 1.3em; }
}