body{
  background:#eee; }

#main{
  margin-top:2em; }

.container-fluid{
  max-width:1600px; }

.addToHomescreenButton{
  position:fixed;
  bottom:0;
  left:0;
  z-index:100;
  font-family:sans-serif;
  font-weight:bold;
  background:#E1BEE7;
  padding:0.7em;
  color:#6A1B9A; }

