@font-face{
  font-family:'Material Icons';
  font-style:normal;
  font-weight:400;
  src:url("./assets/fonts/MaterialIcons-Regular.eot");
  src:local("Material Icons"), local("MaterialIcons-Regular"), url("./assets/fonts/MaterialIcons-Regular.woff2") format("woff2"), url("./assets/fonts/MaterialIcons-Regular.woff") format("woff"), url("./assets/fonts/MaterialIcons-Regular.ttf") format("truetype"); }

.material-icons{
  font-family:'Material Icons';
  font-weight:normal;
  font-style:normal;
  font-size:24px;
  display:inline-block;
  line-height:1;
  text-transform:none;
  letter-spacing:normal;
  word-wrap:normal;
  white-space:nowrap;
  direction:ltr;
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-feature-settings:'liga';
          font-feature-settings:'liga';
  font-display:block; }

body{
  background:#eee; }

#main{
  margin-top:2em; }

.container-fluid{
  max-width:1600px; }

.addToHomescreenButton{
  position:fixed;
  bottom:0;
  left:0;
  z-index:100;
  font-family:sans-serif;
  font-weight:bold;
  background:#E1BEE7;
  padding:0.7em;
  color:#6A1B9A; }

.btnMain{
  color:#fff;
  font-weight:bold;
  border-radius:50%;
  display:block;
  outline:none;
  text-transform:uppercase;
  transition:background .4s ease; }
  @media (orientation: portrait){
    .btnMain{
      height:50vw;
      width:50vw;
      font-size:12vw;
      margin:10vw auto; } }
  @media (orientation: landscape){
    .btnMain{
      height:50vh;
      width:50vh;
      font-size:12vh;
      margin:10vh auto; } }

.btnMain.startButton{
  background:#0c820c; }
  .btnMain.startButton:hover, .btnMain.startButton:focus{
    background:#096b09; }

.btnMain.stopButton{
  background:#b71717; }
  .btnMain.stopButton:hover, .btnMain.stopButton:focus{
    background:#921414; }

.clockwatch{
  display:block;
  text-align:center; }

.timeOutput .seconds{
  font-size:1.3em; }

